{% extends 'base.html.twig' %}

{% block style %}{{ asset('assets/css/style.css') }}{% endblock style %}

{% block title %} Admin_list_articles {% endblock title %}

{% block main %}

    <table class="article">
        <thead>
        <tr>

            <th>N°</th>
            <th>Category</th>
            <th>Name</th>
            <th>Content</th>
            <th>CreatedAt</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>

                <td>{{ article.id }}</td>
                {% if article.category %}
                    <td>{{ article.category.title }}</td>
                {% else %}
                    <td>NONE</td>
                {% endif %}
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>

                <td class="input_actions">
                    <a href="{{ path('show_article', {'id': article.id}) }}">show</a>
                    <a href="{{ path('admin_edit_article', {'id': article.id}) }}">edit</a>
                    <a href="{{ path('admin_remove_article', {'id': article.id}) }}">remove</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('admin_add_article') }}">Ajouter un article</a>

{% endblock main %}