{% extends '../base.html.twig' %}

{% block style %}{{ asset('assets/css/style.css') }}{% endblock style %}

{% block title %} List_article {% endblock title %}

{% block main %}

    <table class="article">
        <thead>
        <tr>

            <th>N°</th>
            <th>Category</th>
            <th>Name</th>
            <th>Content</th>
            <th>CreatedAt</th>

        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>

                <td>{{ article.id }}</td>
                {% if article.category %}
                    <td>{{ article.category.title }}</td>
                {% else %}
                    <td>NONE</td>
                {% endif %}
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock main %}